 # There are some type of jump statements :

# -> break
# -> continue
# -> pass

# How can we use this statement see below .

# -> break

In [8]:
for i in range(10):
    if i==2:
       break
    print(i)

0
1

In [10]:
name='natasha'
for i in name:
    if i=='t':
        break
    print(i)

n
a

In [11]:
x=1
while x<=10:
    print(x)
    if x==5:
        break
    x=x+1

print("This statement will print after the loop..")

1
2
3
4
5
This statement will print after the loop..

In [1]:
list = [1,2,3,4,5,6]
 
s=0 
c=0 
for num in list: 
        print(num) 
        s+=num # s=s+num 
        c+=1 # c=c+1 
        if(c == 3):
 
             break
 
print("sum is",s)
print("count=",c)

1
2
3
sum is 6
count= 3

In [14]:
x=1
while True:
    x+=1
    print('hello',x)
    if x==5:
        print('hiii')
    break

hello 2

In [15]:
s=0
 
c=0
 
while c < 6:
   s+=c # s=s+c
 
   c+=1
 
   if(c == 3):
 
    break
 
print("sum is",(s))

sum is 3

# -> Continue

In [3]:
for i in range(1,11):
    print(i)
    if i==5:
        continue

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,11):
     if i==5:
        continue
        
     print(i)

1
2
3
4
6
7
8
9
10

In [18]:
for i in range(1,16):
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14

In [13]:
i=0
while i!=26:
    i=i+1
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26

In [16]:
for k in 'natasha':
    if k=='t':
        continue
        print('hiii')
   
    print(k)
#     break
print(k)

n
a
a
s
h
a
a

In [2]:
name='sumit'
for i in name:
    if i=='i':
        continue
    print(i)

s
u
m
t

In [19]:
x=1
while x<=10:
    x=x+1
    if x==5:
        continue
    print(x)

print("This statement will print after the loop..")

2
3
4
6
7
8
9
10
11
This statement will print after the loop..

In [20]:
s=0
 
c=0
 
while c < 6:
 
   s+=c
 
   c+=1
 
   if(c == 5):
 
    continue
 
   print("count is:",(c))
 
print("sum is:",(s))

count is: 1
count is: 2
count is: 3
count is: 4
count is: 6
sum is: 15

In [16]:
s=0
 
for c in range(1,9):
 
   s+=c
 
   c+=1
 
   if(c == 5):
 
    continue
 
   print("c is:",(c))
 
print("sum is",(s))

c is: 2
c is: 3
c is: 4
c is: 6
c is: 7
c is: 8
c is: 9
sum is 36

# -> pass

In [6]:
n=int(input('enter n'))
if n%2==0:
    print(n)
else:
    pass

enter n7

In [25]:
ran=10
while ran!=13:
    print(ran)
    ran+=1
    if ran>10:
        print('a')

print('hiii')

10
a
11
a
12
a
hiii

In [4]:
n=int(input('Enter no. = '))
if n%2==0:
    print(n)
else:
    pass

Enter no. = 5

In [26]:
name=['deepanshu','verma']
for i in name: # Outer loop
    for j in i: # inner loop
        print(j)
    print("\n")

d
e
e
p
a
n
s
h
u


v
e
r
m
a

In [11]:
l=['python', 'perl','c','c++','java','pascal','parrot','ape',"papa"]
for i in l: # i
    for j in i:
        if j=='p':
            print(i)
        else:
            pass

python
perl
pascal
parrot
ape
papa
papa

In [10]:
l=['python', 'perl','c','c++','java','pascal','parrot','ape']
for i in l: # i
    if i[0]=="p":
        print(i)

python
perl
pascal
parrot

In [29]:
for i in range(2):
    for j in range(2):
        print(j)

0
1
0
1

In [15]:
n=int(input('enter table range='))
for i in range(1,n+1):
    print('Table of ',i)
    for j in range(1,11):
        print(i,"X",j,"=",i*j)
    print("======================")

enter table range=10
Table of  1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
======================
Table of  2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
======================
Table of  3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
======================
Table of  4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
======================
Table of  5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
======================
Table of  6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
======================
Table of  7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
======================
Table of  8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
======================
Table of  9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
======================
Table of  10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
======================

In [24]:
for i in range(2):
    print(i)
    for j in range(2):
        print(j)
        for k in range(2):
            print('a')
            print(i)

0
0
a
0
a
0
1
a
0
a
0
1
0
a
1
a
1
1
a
1
a
1

In [30]:
n=int(input('enter n'))
for i in range(1,n+1):
    print()
    print('Table of ',i)
    for j in range(1,11):
        print(i,'X',j,'=',i*j)
    print('-------------------------')

enter n4

Table of  1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
-------------------------

Table of  2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
-------------------------

Table of  3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
-------------------------

Table of  4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
-------------------------

In [ ]:
#Write a Python program which iterates the integers from 1 to 50.
#For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz".
#For numbers which are multiples of both three and five print "FizzBuzz"

In [31]:
name=['deepanshu','verma']
for i in name: # outer loop
    for j in i: # inner loop
        print(j)
    print("\n")

d
e
e
p
a
n
s
h
u


v
e
r
m
a